* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Toboolist {
    font-size: 50px;
    font-weight: 900;
    vertical-align:text-bottom;
}

main{
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.box-uno{
    background-color: white;
    height:60px;
    width: 900px;
    border-radius: 5%;
    margin-top: 10px;
    margin-bottom: 7px;
    display: flex;
}

.bottone-color-blue{
    background-color: cornflowerblue;
    color: white;
    border-radius: 10%;
    padding: 6px;
    margin: 15px; 

}

.bottone{
    background-color: white;
    color: grey;
    border-radius: 10%;
    padding: 4px;
    margin: 15px;
    border-style:solid;
    
    
}

.box-due{
    background-color: white;
    min-height: 300px;
    width: 900px;
    border-radius: 5%;
    padding: 20px;
}


.azzurro{
    background-color: cornflowerblue;
    color: white;
    border-radius: 30%;
    padding: 2px;
}

.viola{
    background-color: blueviolet;
    color: white;
    border-radius: 30%;
    padding: 4px;
}

.verde{
    background-color:chartreuse;
    color: white;
    border-radius: 30%;
    padding: 4px;
}

.arancione{
    background-color:orangered;
    color: white;
    border-radius: 30%;
    padding: 5px;
}

.rosa{
    background-color:pink;
    color: white;
    border-radius: 30%;
    padding: 5px;
}

.giallo{
    background-color:yellow;
    color: white;
    border-radius: 30%;
    padding: 5px;
}

li{
    margin-bottom: 20px;
}